[submodule "Automation_Code_Challenge_1_Java"]
	path = Automation_Code_Challenge_1_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_1_Java
[submodule "Automation_Code_Challenge_2_Java"]
	path = Automation_Code_Challenge_2_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_2_Java
[submodule "Automation_Code_Challenge_3_Java"]
	path = Automation_Code_Challenge_3_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_3_Java
[submodule "Automation_Code_Challenge_4_Java"]
	path = Automation_Code_Challenge_4_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_4_Java
[submodule "Automation_Code_Challenge_5_Java"]
	path = Automation_Code_Challenge_5_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_5_Java
[submodule "Automation_Code_Challenge_6_Java"]
	path = Automation_Code_Challenge_6_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_6_Java
[submodule "Automation_Code_Challenge_7_Java"]
	path = Automation_Code_Challenge_7_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_7_Java
[submodule "Automation_Code_Challenge_8_Java"]
	path = Automation_Code_Challenge_8_Java
	url = https://github.com/rharkins/Automation_Code_Challenge_8_Java
[submodule "Automation_Code_Challenge_1_CSharp"]
	path = Automation_Code_Challenge_1_CSharp
	url = https://github.com/rharkins/Automation_Code_Challenge_1_CSharp
[submodule "Automation_Code_Challenge_2_CSharp"]
	path = Automation_Code_Challenge_2_CSharp
	url = https://github.com/rharkins/Automation_Code_Challenge_2_CSharp
[submodule "Automation_Code_Challenge_3_CSharp"]
	path = Automation_Code_Challenge_3_CSharp
	url = https://github.com/rharkins/Automation_Code_Challenge_3_CSharp
[submodule "Automation_Code_Challenge_4_CSharp"]
	path = Automation_Code_Challenge_4_CSharp
	url = https://github.com/rharkins/Automation_Code_Challenge_4_CSharp
